/**
 * Nova Child Theme: CSS Variables
 *
 * @package Nova
 * @since   1.0.0
 * @author  Movve - https://movve.nl
 */

/* ==========================================================================
   CUSTOM CSS VARIABLES
   ========================================================================== */

/* Add your custom CSS variables here */
