<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0">

	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">

		<!-- wp:heading {"textAlign":"center","level":1,"fontSize":"xxl-heading"} -->
		<h1 class="wp-block-heading has-text-align-center has-xxl-heading-font-size">404</h1>
		<!-- /wp:heading -->

		<!-- wp:paragraph {"align":"center","fontSize":"p-large"} -->
		<p class="has-text-align-center has-p-large-font-size">Pagina niet gevonden</p>
		<!-- /wp:paragraph -->

		<!-- wp:spacer {"height":"var:preset|spacing|40"} -->
		<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:search {"label":"","placeholder":"Zoeken...","showLabel":false,"buttonText":"Zoeken","buttonUseIcon":false,"align":"center"} /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
