/**
 * Nova block: Social Links List Styles
 *
 * @package Nova
 * @since   1.0.0
 * @author  Movve - https://movve.nl
 */

/* ==========================================================================
   WRAPPER / BLOCK BASE
   ========================================================================== */

.nova-social-links-block-wrapper {
    margin-block-start: 0;
}

/* ==========================================================================
   LIST STYLING (UL)
   ========================================================================== */

.nova-social-links-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ==========================================================================
   LIST ITEM STYLING (LI - Represents the icon container)
   ========================================================================== */

.nova-social-links-list .social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(.62,.16,.13,1.01);
}

/* ==========================================================================
   LINK & ICON STYLING (A, SVG)
   ========================================================================== */

.nova-social-links-list .social-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--wp--preset--color--nova-100);
}

.nova-social-links-list .social-item a svg {
    width: 1.25rem;
    height: 1.25rem;
}

.nova-social-links-list .social-item a svg path {
    fill: var(--wp--preset--color--nova-100);
}

/* ==========================================================================
   INTERACTIONS / HOVER
   ========================================================================== */

.nova-social-links-list .social-item:hover {
    transform: scale(1.1);
    box-shadow:
            0 1px 1px hsl(0deg 0% 0% / 0.085),
            0 4px 4px hsl(0deg 0% 0% / 0.085),
            0 8px 8px hsl(0deg 0% 0% / 0.085),
            0 16px 16px hsl(0deg 0% 0% / 0.085);
}

/* ==========================================================================
   SCREEN READER TEXT
   ========================================================================== */

.nova-social-links-list .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    word-wrap: normal !important;
}
